body {	
	font: 14px/24px 'Roboto', sans-serif;
	color: #292929;
	background: #fff;
}

/* Standard Styles Starts */

a { color: #d15c10; }
a:hover, 
a:focus {
	color: #b6500e;
}
a:focus { outline: none; }

/* Heading Styles Starts */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'BenchNine', sans-serif;
}
h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

.font1, 
#nav {
	font-family: 'BenchNine', sans-serif;
}
.font2, 
.section-sub-heading-1, 
.testimonial h5, 
#accordion .panel-title {
	font-family: 'Roboto', sans-serif;
}

/* Form & Buttons Styles Starts */

.btn-secondary {
	background-color: #d15c10;
}
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #b6500e;
}
.btn-secondary, 
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	color: #fff;
}

/* Header Wrap Starts */

.header-wrap {
	position: relative;
}

/* Navigation Styles Starts */

	#nav {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}
		#nav {
			margin-bottom: 0;
			padding-top: 10px;
			padding-bottom: 20px;
			border: none;
		}
		#nav, 
		#nav .navbar-nav > li > a:hover, 
		#nav .navbar-nav > li > a:focus, 
		#nav .navbar-nav > li.current > a, 
		#nav .navbar-nav > li.current:hover > a, 
		#nav .navbar-nav > li.current:focus > a, 
		#nav .navbar-toggle {
			background: none;			
		}
		#nav.sticky-nav {
			z-index: 999;
		}
		#nav.fixednav {
			padding-top: 10px;
			padding-bottom: 8px;
			background-color: #0a0c10;	
			-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
			   -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);	
		}
			#nav.sticky-nav .navbar-brand .scroll, 
			#nav.fixednav .navbar-brand .main {
				display: none;
			}
			#nav.fixednav .navbar-brand .scroll {
				display: block;
			}
			#nav .navbar-brand {
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				height: auto;
			}
				#nav .navbar-nav {
					margin-top: 13px;
				}
				#nav .navbar-nav > li > a {
					color: #fff;
					font-size: 18px;
					font-weight: bold;
					line-height: normal;
				}
				#nav .navbar-nav > li > a:hover, 
				#nav .navbar-nav > li.current > a {
					color: #ffc700; 
				}
				#nav .navbar-toggle {
					margin-top: 20px;
					border: none;
				}
				#nav .navbar-toggle span {
					background-color: #fff;
				}
				#nav .navbar-toggle:hover span {
					background-color: #d15c10;
				}

/* Main Slider Styles Starts */

#main-slider {
	background-color: rgba(6, 8, 11, 0.8);
}
	#main-slider .carousel-control {
		top: 45%;
		bottom: auto;
		width: auto;
		height: auto;
		font-size: 60px;
		text-shadow: none;		
		background: none;
	}
	#main-slider .carousel-control.left {
		left: 5%;
	}
	#main-slider .carousel-control.right {
		right: 5%;
	}
	#main-slider.carousel-fade .carousel-inner .item {
	  -webkit-transition-property: opacity;
		 -moz-transition-property: opacity;
			  transition-property: opacity;
	}
	#main-slider.carousel-fade .carousel-inner .item,
	#main-slider.carousel-fade .carousel-inner .active.left,
	#main-slider.carousel-fade .carousel-inner .active.right {
		opacity: 0;
	}
	#main-slider.carousel-fade .carousel-inner .active,
	#main-slider.carousel-fade .carousel-inner .next.left,
	#main-slider.carousel-fade .carousel-inner .prev.right {
		opacity: 1;
	}
	#main-slider.carousel-fade .carousel-inner .next,
	#main-slider.carousel-fade .carousel-inner .prev,
	#main-slider.carousel-fade .carousel-inner .active.left,
	#main-slider.carousel-fade .carousel-inner .active.right {
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		   -moz-transform: translate3d(0, 0, 0);
			    transform: translate3d(0, 0, 0);
	}
	#main-slider.carousel-fade .carousel-control {
		z-index: 2;
	}

/* Section Area Styles Starts */

.section-area {
	padding-top: 50px;
	padding-bottom: 70px;
}
	.section-area.inverse, 
	.section-area.inverse a {
		color: #fff;
	}
	.section-heading-1 {
		letter-spacing: 1px;
	}
	.section-heading-1, 
	.section-sub-heading-1 {
		margin-top: 0;
	}
		.section-heading-1::after {
			content: "";
			margin: 10px auto 15px;
			width: 110px;
			height: 2px;
			display: block;
			background-color: #2a2a2a;
		}
		.section-heading-1.inverse::after {
			background-color: #fff;
		}
	.section-sub-heading-1 {
		margin-bottom: 10px;
	}
	.section-heading-1 + p {
		margin-top: 25px;
	}
	.section-content-1 p {
		margin-bottom: 0
	}
		.section-content-1 p + p {
			margin-top: 25px;
		}

/* About Section Styles Starts */

	.progress-list {
		margin-top: 22px;
		margin-bottom: 0;
	}
		.progress-list li + li {
			margin-top: 20px;
		}
			.progress-list li h4 {
				margin-bottom: 5px;
			}
			.progress-list li .progress {
				margin-top: 5px;
				height: 12px;				
				background-color: #f4f4f4;
			}
				.progress-list li .progress-bar {
					background-color: #d15c10;
				}

/* Testimonials Section Styles Starts */

.services-section {
	background-image: url(../images/section-bg-1.jpg);
}
	.services-box {
		margin-top: 50px;
	}
		.services-box .fa {
			margin-bottom: 10px;
			font-size: 48px;
		}
		.services-box p {
			color: #999;
			font-weight: 300;
		}

/* Project Section Styles Starts */

.portfolio-section {
	padding-bottom: 20px;
}

/* Project Filters Styles Starts */

.projects-filter {
	margin-bottom: 20px;
	text-transform: uppercase;
}
	.projects-filter li {
		padding-left: 5px;
		padding-right: 5px;
	}
	.projects-filter li, 
	.projects-filter li a {
		color: #1f1f1f;
		font-size: 16px;
	}
	.projects-filter li a:hover, 
	.projects-filter li a:focus, 
	.projects-filter li a.active {
		color: #d15c10;
		text-decoration: none;
	}	
	
/* Projects Grid Styles Starts */

.projects-grid {
	overflow: hidden;
}
	.project-grid-item {
		margin-top: 15px;
		margin-bottom: 15px;
	}
		.project-grid-item .hover-content {
			position: relative;			
			overflow: hidden;
		}
			.project-grid-item .hover-content img {
				-webkit-transform: scale(1.0);
			       -moz-transform: scale(1.0);
						transform: scale(1.0);
			}
			.project-grid-item .hover-content:hover img {
				-webkit-transform: scale(1.3);
			       -moz-transform: scale(1.3);
			            transform: scale(1.3);
			}				
				.project-grid-item .hover-content .overlay {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					height: auto;
					text-align :center;
					color: #fff;
					opacity: 0;	
					background: rgba(15, 17, 15, 0.8);
				}
				.project-grid-item .hover-content:hover .overlay {
					opacity: 1;
				}
					.project-grid-item .hover-content .overlay p {
						margin-top: 65px;
					}
					.project-grid-item .hover-content .overlay h4 {
						margin-top: 25px;
						margin-bottom: 5px;
					}
						.project-grid-item .hover-content .overlay a.zoom .fa {
							width: 42px;
							height: 42px;
							line-height: 42px;
							color: #d15c10;
							font-size: 18px;
							background-color: #fff;
						}
						.project-grid-item .hover-content .overlay a.zoom:hover .fa {
							color: #fff;
							background-color: #d15c10;
						}											
						.project-grid-item .hover-content .overlay h4 {
							-webkit-transform: translateY(75px);
							   -moz-transform: translateY(75px);
								-ms-transform: translateY(75px);				
									transform: translateY(75px);
						}
						.project-grid-item .hover-content .overlay p {
							-webkit-transform: translateY(-75px);
							   -moz-transform: translateY(-75px);
								-ms-transform: translateY(-75px);				
									transform: translateY(-75px);
						}						
						.project-grid-item .hover-content .overlay:hover p, 
						.project-grid-item .hover-content .overlay:hover h4 {
							-webkit-transform: translateY(0);
							   -moz-transform: translateY(0);
								-ms-transform: translateY(0);
									transform: translateY(0);
						}		

/* What We Do Section Styles Starts */

	.what-we-do-col {
		margin-top: 20px;
		color: #101010;
	}
		.what-we-do-col .fa {
			width: 90px;
			height: 90px;
			line-height: 90px;
			color: #fff;
			font-size: 30px;
			background-color: #101010;
		}

/* Testimonials Section Styles Starts */

.testimonials-section {
	background-image: url(../images/section-bg-2.jpg);
}
	.testimonial {
		margin-top: 20px;
		margin-bottom: 20px;
	}
		.testimonial h4 {
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.testimonial h4 + h5 {
			margin-top: 0;
		}
		.testimonial blockquote {
			margin-top: 20px;			
			padding: 60px;
			position: relative;
			color: #999;
			font-size: 14px;
			line-height: 26px;
			font-weight: 300;
			background-color: #0f110f;
			border: none;
		}
			.testimonial blockquote:before, 
			.testimonial blockquote:after {
				position: absolute;
				color: #d15c10;
				font-size: 18px;
			}
			.testimonial blockquote:before {
				content: "\f10d";
				top: 20px;
				left: 20px;
			}
			.testimonial blockquote:after {
				content: "\f10e";
				right: 20px;
				bottom: 20px;
			}
		.testimonial .carousel-indicators {
			bottom: -50px;
		}
			.testimonial .carousel-indicators li {
				margin: 0 5px;
				width: 20px;
				height: 6px;
				background-color: #d15d11;
				border: none;
			}
			.testimonial .carousel-indicators li.active {
				background-color: #fff;
			}

/* Blog Section Styles Starts */

.blog-section {
	padding-bottom: 25px;
}
	.blog-post {
		margin-top: 30px;
		padding: 10px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
		   -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
		        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	}
	.blog-post:hover {
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
		   -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);		
	}
		.blog-post-excerpt {
			padding: 10px 5px;
		}
			.blog-post-meta {
				margin-top: 5px;
			}
				.blog-post-meta li, 
				.blog-post-meta li a {
					color: #6c6c6c;
					font-size: 13px;
				}
				.blog-post-meta li + li {
					margin-left: 8px;
				}
					.blog-post-meta li .fa {
						margin-right: 5px;
					}
			.blog-post-title {
				font-weight: bold;
			}
				.blog-post-title, 
				.blog-post-title a {
					color: #101010;
				}

/* Accordions Styles Starts */

	#accordion .panel, 
	#accordion .panel-body {
		border: none;
	}
	#accordion.panel-group .panel + .panel {
		margin-top: 25px;
	}
		#accordion .panel-heading {
			padding: 0;
		}
		#accordion .panel, 
		#accordion .panel-heading, 
		#accordion .panel-heading:hover, 
		#accordion .panel-heading:focus, 
		#accordion .panel-heading:active, 
		#accordion .panel-heading.active {
			background: none;
		}
		#accordion .panel-title {			
			color: #101010;
			font-weight: normal;
		}
		#accordion .panel-title .fa {
			margin-right: 10px;
			font-size: 14px;
		}
		#accordion .panel-title .fa {
			margin-top: 3px;
		}
		#accordion .panel-heading, 
		#accordion .panel-title a, 
		#accordion .panel-heading.active .panel-title a, 
		#accordion .panel-title a:hover, 
		#accordion .panel-title a:focus {
			color: #101010;
			text-decoration: none;
		}
		#accordion .panel-collapse > .panel-body {
			padding: 15px 20px 0;
			color: #6c6c6c;
		}
			#accordion .panel-collapse > .panel-body p {
				margin-bottom: 0;
			}
			#accordion .panel-collapse > .panel-body p + p {
				margin-top: 15px;
			}

/* Contact Form Styles Starts */

	.contact-status {
		display: none;
	}
		.contact-form .form-control {
			margin-bottom: 18px;
			padding: 10px 20px;
			color: #6c6c6c;
			background-color: #fff;
			border: 1px solid #cdcdcd;
		}
		.contact-form .form-control:focus {
			border-color: #a6a6a6;
		}
		.contact-form input[type=text].form-control, 
		.contact-form input[type=email].form-control {
			height: 42px;
		}
		.contact-form textarea.form-control {
			line-height: 25px;
		}
		.contact-form .form-control::-webkit-input-placeholder { 
			color: #6c6c6c;
		}
		.contact-form .form-control::-moz-placeholder {
			color: #6c6c6c;
		}
		.contact-form .form-control:-ms-input-placeholder {
			color: #6c6c6c;
		}
		.contact-form .form-control:-moz-placeholder {
			color: #6c6c6c;
		}
		.contact-form .btn {
			padding: 9px 18px;
		}						

/* Footer Styles Starts */

.main-footer {
	padding-top: 20px;
	padding-bottom: 10px;
	color: #bfbfbf;
	background-color: #2a2a2a;
}
	.main-footer a {
		color: #ffc700;
		text-decoration:underline;
	}
	.main-footer a:hover, 
	.main-footer a:focus {
		color: #d15c10;
	}
	.main-footer ul, 
	.main-footer p {
		color:#fff;
		margin-bottom: 0;
	}
		.main-footer ul > li {
			font-size: 16px;
		}
		.main-footer ul > li + li {
			margin-left: 10px;
		}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.spacer-xxs  { height: 5px;  }
.spacer-xs   { height: 10px; }
.spacer-sm   { height: 15px; }
.spacer-md	 { height: 20px; }
.spacer-lg	 { height: 25px; }
.spacer-xlg  { height: 40px; }
.spacer-xxlg { height: 60px; }

.no-margin-top		{ margin-top: 0; 	}
.no-margin-bottom	{ margin-bottom: 0; }

.no-padding-top		{ padding-top: 0; 	 }
.no-padding-bottom	{ padding-bottom: 0; }

.text-weight-thin		 	{ font-weight: 100; }
.text-weight-extra-light	{ font-weight: 200; }
.text-weight-light		 	{ font-weight: 300; }
.text-weight-normal 	 	{ font-weight: 400; }
.text-weight-medium 	 	{ font-weight: 500; }
.text-weight-bold		 	{ font-weight: 700; }
.text-weight-ultra-bold 	{ font-weight: 900; }

.text-color-brand   { color: #d15c10; }
.text-color-grey    { color: #696969; }
.text-color-lite    { color: #b1b1b1; }

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.no-border-radius, 
.flat, 
.testimonial .carousel-indicators li, 
#accordion .panel, 
#accordion .panel-heading {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.br-5 {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

.circle {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
}

.no-boxshadow, 
.progress, 
#accordion .panel, 
.contact-form .form-control, 
.contact-form .form-control:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.font-awesome, 
.testimonial blockquote:before, 
.testimonial blockquote:after {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0') format('svg');
}

.animation, 
.animation a {
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
}

.animation-1, 
.animation-1 a {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;	
}